<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Update Concert</title>
</head>
<body>
    <div class="bg-gray-200 min-h-screen flex items-center py-8">
        <div class="w-full">
            <h2 class="text-center text-blue-600 font-bold text-3xl uppercase mb-6">Update Concert</h2>
            
            <div class="bg-white p-10 rounded-lg shadow-lg md:w-3/4 mx-auto lg:w-1/2">
                
                <form action="/concert/{{ concert.id }}/update" method="post" enctype="multipart/form-data">
                    
                    <div class="mb-5">
                        <label for="artist_name" class="block mb-2 font-bold text-gray-700">Artist Name </label>
                        <input type="text" id="artist_name" name="artist_name" value="{{concert.artist_name}}" required
                            class="border border-gray-300 shadow p-3 w-full rounded">
                    </div>

                    <div class="mb-5">
                        <label for="category" class="block mb-2 font-bold text-gray-700">Category</label>
                        <input type="text" id="category" name="category" value="{{concert.category}}"
                            class="border border-gray-300 shadow p-3 w-full rounded">
                    </div>

                    <div class="mb-5">
                        <label for="location" class="block mb-2 font-bold text-gray-700">Location </label>
                        <input type="text" id="location" name="location" value="{{concert.location}}" required
                            class="border border-gray-300 shadow p-3 w-full rounded">
                    </div>

                    <div class="mb-5">
                        <label for="price" class="block mb-2 font-bold text-gray-700">Price </label>
                        <input type="number" id="price" name="price" value="{{concert.price}}" required
                            class="border border-gray-300 shadow p-3 w-full rounded">
                    </div>

                    <div class="mb-5">
                        <label for="date_concert" class="block mb-2 font-bold text-gray-700">Date *</label>
                        <input type="datetime-local" id="date_concert" name="date_concert" value="concert.date_concert" required
                            class="border border-gray-300 shadow p-3 w-full rounded">
                    </div>

                    <div class="mb-5">
                        <label for="image" class="block mb-2 font-bold text-gray-700">Image</label>
                        <input type="file" id="image" name="image" accept="image/*"
                            class="border border-gray-300 shadow p-3 w-full rounded">
                    </div>

                    <div class="mb-5">
                        <label for="description" class="block mb-2 font-bold text-gray-700">Description</label>
                        <textarea id="description" name="description" rows="4"
                            class="border border-gray-300 shadow p-3 w-full rounded"> {{concert.description}} </textarea>
                    </div>

                    <button type="submit" class="block w-full bg-blue-500 text-white font-bold p-4 rounded-lg hover:bg-blue-600">
                        Update Concert
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>